body {
  font-family: Arial, sans-serif;
  background-color: #f5f1e9;
  color: #333;
  margin: 20px;
}

header .logo-nav {
  display: flex;
  align-items: center;
  gap: 100px;
  margin-bottom: 10px;
}

.logo-nav img {
  height: 200px;
  width: 200px;
}

header h1 {
  color: #3a7d44;
  font-size: 3rem;
  margin: 0;
}

nav ul {
  list-style-type: none;
  background-color: #d9ead3;
  padding: 10px;
  display: flex;
  gap: 15px;
}

nav a {
  text-decoration: none;
  color: #2f5d3b;
  font-weight: bold;
}

nav a:hover {
  color: #4caf50;
}

img {
  width: 50vw; max-width: 100%;
}

table {
  border-collapse: collapse;
  width: 60%;
}

th, td {
  padding: 8px;
  text-align: left;
  border: 1px solid #ccc;
}

.porovnanie-tabulka {
    border-collapse: collapse;
    width: 80%;
    margin: 20px auto;
    font-family: Arial, sans-serif;
}

.porovnanie-tabulka th, 
.porovnanie-tabulka td {
    border: 1px solid #333;
    padding: 8px 12px;
    text-align: center;
}

.porovnanie-tabulka th {
    background-color: #4CAF50;
    color: white;
}

.porovnanie-tabulka caption {
    font-size: 1.5em;
    margin-bottom: 10px;
}
